/* Write your CSS here */
.google-search {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-image {
  height: 80px;
  width: 250px;
}
.search-icon {
  height: 25px;
  width: 25x;
}

.search-input-container {
  display: flex;

  align-items: center;
}
.input {
  width: 230px;
  border-width: 0px;
  border-style: none;
  height: 23px;
}
.google-container {
  box-shadow: 0px 4px 16px 0px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 15px;
}
